modules = ["nodejs-20"]
run = "npm run code"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run code"]

[workflows]
runButton = "Generate Session"

[[workflows.workflow]]
name = "Generate Session"
author = 38261127
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node lib/pcode.js"
